// @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: local('☺'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Bold.eot');
	src: local('☺'), url('../fonts/Proxima Nova Bold.woff') format('woff'), url('../fonts/Proxima Nova Bold.ttf') format('truetype'), url('../fonts/Proxima Nova Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Forte';
	src:url('../fonts/Forte.woff') format('woff'), url('../fonts/Forte.svg#Forte') format('svg'), url('../fonts/Forte.eot'), url('../fonts/Forte.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}