// @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Good Vibes Pro';
	src: url('../fonts/goodvibespro.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Mount';
	src: url('../fonts/mount.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Anton';
	src: url('../fonts/anton.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Forte";
	src: url("../fonts/forte.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
