@media (min-width: 1935px) {
	.footer::before {
		background-size: cover;
		height: 100px;
		top: -54px;
	}

	.about::after {
		//content: none;
		background-image: none;
		background-color: $color-grey-light-1;
	}

	.gallery::before {
		background-image: none;
		background-color: #f7fafc;
	}

	.gallery::after {
		content: none;
	}

	.faq {
		padding-top: 80px;
	}

	.faq::after {
		background-image: none;
		background-color: $color-grey-light-1;
	}

	.faq__img-clown {
		bottom: -82px;
	}

	.contact {
		z-index: 6;
	}
}

@media (max-width: 1770px) {
	.faq__img-clown {
		bottom: -30px;
	}
}

@media (max-width: 1730px) {
	.faq__img-clown {
		bottom: -31px;
	}
}

@media (max-width: 1700px) {
	.faq__img-clown {
		bottom: -33px;
	}
}

@media (max-width: 1650px) {
	.serpantin {
		background-size: 350px auto;
	}
}

@media (max-width: 1610px) {
	.faq__img-clown {
		bottom: -91px;

		img {
			max-width: 90%;
		}
	}

	.service-text__top {

		&::before,
		&::after {
			width: 403px;
			height: 307px;
		}
	}

}

@media (max-width: 1515px) {
	.faq::before {
		left: 100px;
	}

	.faq__img-clown {
		left: 10px;
		bottom: -93px;
	}
}

@media (max-width: 1480px) {
	.serpantin {
		background-size: 250px auto;
	}
}

@media (max-width: 1415px) {
	.faq::before {
		left: 100px;
	}

	.faq__img-clown {
		left: 5px;
		bottom: -149px;

		img {
			max-width: 80%;
		}
	}

}


@media (max-width: 1380px) {
	.parallax__clown {
		right: 10px;
	}

	.container--bigger {
		max-width: 1100px;
	}
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
	.service-header__bg {
		background-attachment: scroll;
	}
}

@media (max-width: 1355px) {
	.faq__img-clown {
		bottom: -151px;
	}

	.service-text__top {

		&::before,
		&::after {
			width: 350px;
			height: 266px;
		}
	}
}

@media (max-width:1295px) {

	//@media (max-width:1024px) { 
	.container-1260 {
		max-width: 1100px;
	}

	.packages__inner {
		margin: 0px -5px;
	}

	.packages__item {
		padding: 0px 10px;
		//min-width: 335px;
	}

	.packages__content {
		min-height: 720px;
	}

	.packages__item-title {
		font-size: 5.2rem;
	}

	.packages__img {
		min-width: 310px;
		min-height: 293px;
	}

	.packages__subtitle {
		font-size: 2.3rem;
	}

	.packages__price {
		right: 10px;
	}

	.packages__features {
		bottom: 120px;

		//.packages__features-row
		&-row {
			margin: 0;
		}

		// .packages__features-item
		&-item {
			max-width: none;
			padding: 0;
		}

		//bottom: 170px;
		&-img {
			width: 66px;
			height: 66px;
		}

		&-title {
			font-size: 1.4rem;
		}
	}

	.service-addons__details {
		top: 455px;
	}

	.faq::before {
		left: 50px;
	}

	.faq__img-clown {
		bottom: -208px;

		img {
			max-width: 70%;
		}
	}

}

@media (max-width: 1275px) {
	.container--bigger {
		max-width: 1000px;
	}

	.services__slider-text {
		flex: 1 1 40%;
	}

	.services__slider-img {
		flex: 1 1 60%;
	}

	.reviews__title {
		top: 170px;
	}

	.reviews__slider-video {
		padding-top: 70px;
	}

	.page404::before {
		width: 400px;
		height: 448px;
	}

	.page404__caption {
		bottom: 150px;
	}
}

@media (max-width: 1210px) {
	.container {
		max-width: 970px;
	}

	.faq__img-clown {
		bottom: -209px;
	}

	.faq__inner {
		padding-left: 25%;
	}
}

@media (max-width: 1182px) {
	.packages__inner {
		flex-wrap: wrap;
	}

	.reviews__top::before,
	.reviews__top::after {
		width: 300px;
		height: 228px;
		//width: 503px;
		//height: 383px;
		top: -50px;
	}

}

@media (max-width: 1145px) {
	.parallax__clown {
		//max-width: calc(50vw);
	}

	.services__slider-arrows--left {
		left: -60px;
	}

	.services__slider-arrows--right {
		right: -60px;
	}

	.reviews__slider-arrows--left {
		left: -60px;
	}

	.reviews__slider-arrows--right {
		right: -60px;
	}

	.faq__img-clown {
		bottom: -211px;
	}

	.service-text__top {

		&::before,
		&::after {
			width: 303px;
			height: 231px;
			top: -68px;
		}

		&::before {
			transform: rotate(23deg);
		}

		&::after {
			transform: rotate(49deg);
		}
	}

}

@media (max-width:1134px) {
	.parallax__clown {
		//max-width: calc(60vw);
	}

	.header__top-phone {
		font-size: 1.9rem;
	}

	.info-header {
		top: 30px;
	}

	.info-header__title {
		margin: 2rem 0px 1.5rem 0px;
	}

	.info-header__buttons {
		margin-top: 4rem;
	}

	.parallax__confetti-2,
	.parallax__confetti-5 {
		display: none;
	}

	.parallax__confetti-3 {
		top: 25%;
	}

}

@media (max-width:1110px) {
	.container--bigger {
		max-width: 870px;
	}

	.services__slider-row {
		flex-direction: column;
		padding-top: 0;
		//padding-bottom: 0;
	}

	.services__slider-price {
		order: 1;
		//margin-bottom: 3rem;
		align-self: flex-end;
	}

	.services__slider-btn {
		order: 2;
		align-self: flex-start;
	}

	.services__slider-title {
		font-size: 3.5rem;
	}
}


@media (max-width:1090px) {
	.reviews__slider-arrows--left {
		left: -30px;
	}

	.reviews__slider-arrows--right {
		right: -30px;
	}

	.faq::before {
		//left: 35px;
		top: 250px;
	}

	.faq__inner {
		padding-left: 30%;
		padding-right: 0%;
	}

	.faq__img-clown {
		bottom: -213px;
	}

}

@media (max-width:1030px) {
	.container {
		max-width: 750px;
	}

	.parallax__clown {
		//max-height: calc(100vh - 64px - 18%);
	}

	.about:after {
		bottom: -74px;
	}

	.about__text {
		padding-top: 1rem;
		//padding-right: 0;
		font-size: 1.6rem;
	}

	.services {
		padding-top: 100px;
	}

	.services__slider-text {
		flex: 1 1 50%;
	}

	.services__slider-img {
		flex: 1 1 50%;
	}

	.gallery__title {
		//padding-top: 170px;
	}

	.gallery__slider-item {
		height: 600px;
	}

	.reviews__slider-text {
		font-size: 1.6rem;
	}

	#after_submit {
		padding-top: 10px;
	}

	.page404__caption {
		//top: 20px;
	}
}

@media (max-width: 1023px) {

	.gallery__slider-arrows--left {
		left: 10px;
	}

	.gallery__slider-arrows--right {
		right: 10px;
	}

}

@media (max-width: 930px) {
	.faq__img-clown {
		bottom: -215px;
	}
}

@media (max-width: 890px) {
	.header__bottom {
		min-height: 320px;
	}

	.container--bigger {
		width: calc(100% - 120px);
	}

	.faq {
		padding-bottom: 50px;
	}

	.faq::before {
		top: 70px;
		left: 30px;
		width: 150px;
		height: 128px;
	}

	.faq__img-clown {
		display: none;
	}

	.faq__inner {
		padding-left: 20px;
		padding-right: 20px;
	}

	/*.header__info {
		padding-left: 50px;
	}*/

}

@media (max-width: 823px) {
	.header {
		z-index: inherit;
	}

	.info-header__buttons {
		margin-top: 3rem;
	}

	.parallax__confetti-1,
	.parallax__confetti-3,
	.parallax__confetti-4,
	.parallax__confetti-6 {
		display: none;
	}

	.info-header {
		top: 0px;
	}

	.info-header__btn {
		margin-top: 30px;
	}

	.services__title {
		padding-bottom: 0;
	}

	.service-text__top {

		&::before,
		&::after {
			top: -88px;
		}
	}

	.service-text__inner {
		padding-left: 10px;
		font-size: 1.6rem;
	}

	//.services__slider-wrapper {
	//min-height: auto;
	//}
	.info-header {
		top: 10px;
	}

	.parallax__clown {
		max-height: calc(70vh);
	}

	.info-header__title {
		font-size: 5.6rem;
	}

	.services__slider-text {
		padding-left: 2em;
	}

	.services__slider-img {
		//flex: 1 1 35%;
		display: none;
	}

	.services__slider-arrows--left {
		top: 0;
	}

	.services__slider-arrows--right {
		top: 0;
	}

	body.lock {
		overflow: hidden;
	}

	.container {
		max-width: none;
	}

	.menu__inner {
		height: 62px;
	}

	.logo {
		flex: 0 0 90px;
		order: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 50px;
		margin-top: 0px;
		/*
		position: absolute;
		width: 90px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		*/
	}

	.header-pages .logo {
		margin-left: 0;
	}

	.header__top-burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 5;
		cursor: pointer;

		span {
			position: absolute;
			background-color: $color-pink;
			left: 0;
			width: 100%;
			height: 2px;
			top: 9px;
			transition: all 0.3s ease 0s;
		}

		&::before,
		&::after {
			content: '';
			background-color: $color-pink;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0s;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: -1px;
		}

		&.active::before {
			transform: rotate(45deg);
			top: 9px;
		}

		&.active::after {
			transform: rotate(-45deg);
			bottom: 9px;
		}

		&.active span {
			transform: scale(0);
		}
	}

	.menu {
		order: 0;
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-image: linear-gradient(#ac1d50, #170132);
		padding: 90px 10px 20px 10px;
		transition: all 0.3s ease 0s;

		&.active {
			top: 0;
		}

		&.active a {
			color: $color-white;
		}
	}

	.menu__list {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
		margin-top: 90px;
	}

	.menu__list-item {
		margin: 0 0 40px 0;
		position: relative;

		&:not(:last-child):after {
			content: '.';
			position: absolute;
			left: 50%;
			bottom: -30px;
			transform: translateX(-50%);
			color: #fff;
			font-size: 3rem;
		}
	}

	.menu__link {
		font-size: 3.0rem;
	}

	//--- Remove bottom-wave -----------------
	.header {
		&::after {
			content: none;
		}
	}

	.about {
		&::after {
			bottom: -68px;
			//content: none;
		}

		&__content {
			padding-bottom: 1rem;
		}
	}

	h3 {
		margin-top: 3rem;
		font-size: 5rem;
	}

	.services__slider-title {
		font-size: 3rem;
	}

	.reviews__slider-arrows--left {
		left: 0px;
	}

	.reviews__slider-arrows--right {
		right: 0px;
	}

	.reviews__slider {
		padding-left: 30px;
		padding-right: 30px;
	}

	.gallery:before {
		top: -56px
	}

	.gallery__slider-arrows--left {
		left: 20px;
		width: 40px;
	}

	.gallery__slider-arrows--right {
		right: 20px;
		width: 40px;
	}

	#btnUp {
		//bottom: 10px;
		//right: 10px;
	}

	.footer__bottom {
		padding-bottom: 50px;
	}
}

@media (max-width: 777px) {
	.contact__form-column {
		flex-direction: column;
		flex: 0 1 100%;
		//justify-content: center;
		padding: 0 10%;
		//align-items: center;
	}

	.contact__form-column-inner {
		padding: 0;
	}

	.contact__subtitle {
		padding-left: 20px;
		padding-bottom: 20px;
	}

	.policies {
		//padding: 30px 20px 0 20px;
		//padding: 0 20px 0 20px;
		padding-left: 20px;
	}

	.contact__form-add {
		padding-top: 20px;
	}
}

@media (max-width: 737px) {
	.gallery__title {
		padding-top: 50px;
	}

	.gallery__slider {
		padding-top: 10px;
	}

	.gallery__slider-item {
		height: 400px;
	}

	.gallery__slider-dots {
		bottom: 30px
	}

	.footer__top {
		flex-wrap: wrap;
		//flex-direction: column;
	}

	.footer__follow-us {
		flex: 0 0 208px;
		order: 1;
	}

	.footer__mail-phone {
		flex: 1 1 auto;
		order: 2;
	}

	.footer__logo {
		order: 0;
		flex: 1 0 100%;
	}

	.footer__developer {
		padding-left: 10px;
	}
}

@media (max-width: 731px) {
	.about:after {
		bottom: -61px;
	}

	.about__content {
		flex-direction: column;
		align-items: center;
	}

	.about__img {
		width: 60%;
	}

	.about__text {
		width: 100%;
		font-size: 1.6rem;
		padding-top: 2rem;
		padding-bottom: 1rem;
	}

	.service-bonus__img-wrapper::after {
		content: none;
	}

	#service-bonus__img {
		border-radius: 0 50% 50% 50%;
	}

	.reviews::before {
		top: -60px;
	}

	.reviews__top::after {
		content: none;
	}

	.reviews__slider-content {
		flex-direction: column;
	}

	.reviews__slider-title {
		text-align: center;
	}

}

@media (max-width: 667px) {
	.header__bottom {
		min-height: 280px;
	}

	.header__bottom::after {
		bottom: -65px;
	}

	.info-header__title {
		font-size: 5rem;
	}

	.info-header__subtitle {
		font-size: 1.8rem;
	}

	.btn {
		font-size: 1.8rem;
	}

	.about__text {
		font-size: 1.6rem;
	}

	.reviews__slider-img img {
		max-width: 250px;
	}

	.reviews__slider-text {
		font-size: 1.6rem;
		line-height: 1.8rem;
		padding: 10px 20px 0 20px;

	}

	.reviews__slider-title {
		font-size: 2.2rem;
	}

	.reviews__slider-arrows--right {
		//right: -15px;
	}

	.service-bonus__list {
		padding-right: 10px;
	}
}

@media (max-width: 610px) {

	.service-text__top {

		&::before,
		&::after {
			width: 250px;
			height: 190px;
			top: -78px;
		}
	}

	.service-bonus__list {
		font-size: 1.5rem;
	}

	.page404__caption {
		left: 50px;
		bottom: 100px;
	}

}

@media (max-width: 568px) {

	.footer__top {
		flex-direction: column;
	}

	.footer__follow-us {
		flex: none;
	}

	.header__info-title {
		font-size: 40px;
	}

	.header__info-title {
		margin: 15px 0px 15px 0px;
	}

	.header__info-subtitle {
		font-size: 1.6rem;
	}

	.header__info-btn {
		margin-top: 25px;
	}

	.gallery:before {
		top: -86px;
	}

	.gallery__slider-item {
		height: 350px;
	}

	.gallery__slider-dots {
		li button {
			width: 1.3rem;
			height: 1.3rem;
		}
	}
}

@media (max-width: 510px) {
	.page404::before {
		left: 20px;
	}

	.page404__caption {
		left: 10px;
		bottom: 50px;
	}

	.container--bigger {
		width: calc(100% - 20px);
	}

	.services__slider-arrows--left {
		left: -15px;
	}

	.services__slider-arrows--right {
		right: -15px;
	}

	.contact__form-column {
		padding: 0 0;
	}

	.contact__input {
		//padding: 16px 20px 16px 70px;
	}

	.service-text__top {
		&::after {
			display: none;
		}
	}

	.service-text__inner {
		padding-right: 10px;
	}

	.service-text__inner-info {
		flex: 0 1 100%
	}

	.service-text__inner-details {
		flex: 0 1 100%;
	}

	.service-bonus__inner {
		flex-direction: column;
		align-items: center;
	}

	.service-bonus__list {
		order: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.service-bonus__item {
		flex: 1 1 50%;
	}

	.service-bonus__img-wrapper {
		order: 0;
		padding-bottom: 20px;

	}

	#service-bonus__img {
		width: 75%;
		display: block;
		margin: 0 auto;
	}

	.reviews__slider {
		padding-left: 0px;
		padding-right: 0px;
	}

	.reviews__slider-arrows--main {
		top: calc(50% - 40px);
	}

	.reviews__slider--page .reviews__slider-arrows--main {
		top: calc(50% - 100px);
	}
}

@media (max-width: 435px) {
	.parallax__clown {
		max-height: calc(60vh);
	}

	.header-pages .header__top-phone {
		display: none;
	}

	.about:after {
		bottom: -35px;
	}

	.about__img {
		width: 75%;
	}

	.menu__list {
		margin-top: 30px;
	}

	.services__slider-price {
		margin-bottom: 3rem;
	}

	.reviews__slider-video {
		padding-top: 120px;
	}

	.reviews__title {
		padding: 0;
	}

	.faq {
		padding-bottom: 10px;
	}

}

@media (max-width: 406px) {
	.packages__item-title {
		font-size: 4.4rem;
	}

	.reviews__slider {
		margin-top: 76px;
	}

}

@media (max-width: 395px) {
	.reviews__slider-video-img {
		img {
			max-width: 230px;
		}
	}

	.reviews__slider--page .reviews__slider-arrows--main {
		top: calc(50% - 160px);
	}
}

@media (max-width: 368px) {
	#after_submit {
		font-size: 1.6rem;
	}

	.header__top-phone {
		font-size: 1.6rem;
	}

	.packages__item {
		//padding: 0px 5px;
		width: 300px;
		min-width: 300px;
	}

	.packages__content {
		min-height: 655px;
	}

	.packages__img {
		min-width: 270px;
		min-height: 255px;
	}

	.packages__subtitle {
		font-size: 2.1rem;
	}

	.packages__price {
		right: 10px;
		font-size: 3rem;
		top: 148px;
	}

	.packages__features {

		//bottom: 170px;
		&-img {
			width: 60px;
			height: 60px;
		}

		&-title {
			font-size: 1.3rem;
		}
	}

	.service-addons__details {
		top: 375px;
	}

	.service-addons__item-title {
		font-size: 3.7rem;
	}

	.service-addons__img {
		top: 116px;
	}

	.service-addons__price {
		top: 95px;
	}

	.contact__control span {
		background-size: 80%;
		left: 20px;
	}

	.contact__input {
		padding-left: 54px;
		background-position: 20px 50%;
		background-size: 22px;
	}

	.contact__textarea {
		padding-left: 54px;
		background-size: 10%;
		background-position: 18px 15px;
	}
}