$color-white: #fff;
$color-black: #000;

$color-text: #3f3f3f;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;

$color-yellow: #ffc638; //#ffc538;  #ffc438
$color-pink: #de5d95; 
$color-green: #8bc640;
$color-blue: #00b9ff;
$color-light-blue: #00ecff;
$color-purple: #6600ff;


